.about{
    .about-title{
        text-align: center;
        p{
            text-align: left;
            margin-left: 20px;
        }
    }
}
iframe{
    width: 90%;
    margin-left: 5%;
    margin-bottom: 20px;
    height: 520px;
}