aside{
    background: green;
    border: 2px solid black;
    border-radius: 15px;
    width: 28vw;
    height: auto;
    padding: 5px;
    margin-right: 5px;
    .logo {
        width: 100%;
    }
    .logo-cardgame {
        width: 100%;
    }
    .logo-pokebal {
        width: 100%;

    }

}