header {
    background: rgb(68, 1, 1);
    color: white;
    text-align: center;
    .container-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        h1{
            margin: 0;
            text-align: left;
            padding-left: 20px;
            font-family: 'Pokemon Solid', sans-serif;
            letter-spacing: 3px;
        }
        .social-links {
            font-size: 30px;
            a{
                text-decoration: none;
                color: white;
                margin: 5px;
            }
        }
        .logo{
            width: 30vw;
        }
    }
}
@media screen and (max-width: 428px){
    header .container-header h1{
        padding-left: 0;
    }
}