footer{
    background: rgb(20, 20, 20);
    color: white;
    height: 40vh;

    .site-bottom{
        h6{
            padding-top: 30px;
            margin: 0;
            font-size: 17px;
            text-align: center;
        }
    }
}
